body {
    background-color:white;
}

.container-fluid {
    padding-left: 100px;
}

#navbarNav{
    padding-right: 100px;
}
.jumbotron{
    background-color: black;
    text-align: center;
    
}
#jumbo {
    background-color: aqua;
    
}
